.about-company {
  display: flex;
  position: relative;
  padding-bottom: 107px;
}

.about-company__description {
  margin-left: 180px;

  & h2 {
    font-family: $font-robotoCondensed, "Calibri", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #666666;
    margin: 0;
    margin-bottom: 23px;
  }

  & p {
    max-width: 984px;
    margin: 0;
    color: #666666;
  }

  & p:last-of-type {
    margin-top: 21px;
  }
}

.about-company__image {
  width: 147px;
  height: 317px;
  position: absolute;
  left: -30px;
  top: 5px;

  & img {
    display: block;
    width: 100%;
  }
}

.about-company__btn {
  display: block;
  word-break: break-word;
  width: 180px;
  text-decoration: none;
  font-family: $font-robotoCondensed, "Calibri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 0 14px 0;
  margin-top: 38px;

  &:hover {
    background-color: #00b2ff;
    color: #ffffff;
  }
}

@media (max-width: $table-width) {
  .about-company {
    padding-bottom: 84px;
  }

  .about-company__description {
    margin-left: 186px;

    & h2 {
      font-size: 32px;
      line-height: 50px;
    }

    & p:last-of-type {
      margin-top: 20px;
    }
  }

  .about-company__subtitle {
    height: 192px;
    overflow-y: hidden;
  }

  .about-company__btn {
    margin-top: 43px;
    margin-left: 2px;
  }

  .about-company__image {
    width: 159px;
    height: 362px;
    left: -24px;
    top: 1px;
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    padding-bottom: 65px;
  }

  .about-company__image {
    display: none;
  }

  .about-company__description {
    padding-top: 38px;
    margin-left: 0;

    & h2 {
      font-size: 28px;
      line-height: 140.62%;
      margin-bottom: 20px;
    }

    & p {
      padding-left: 2px;
    }

    & p:last-of-type {
      margin-top: 42px;
    }
  }

  .about-company__subtitle {
    height: 344px;
    overflow-y: hidden;
  }

  .about-company__btn {
    margin-top: 31px;
  }
}
