.advantages__list {
  display: flex;
  min-height: 628px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
  list-style: none;
  padding: 0;
  padding-bottom: 74px;
}

.advantages__item {
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  max-width: calc(100% - 600px);
  min-height: 299px;
  padding-left: 41px;
  padding-right: 43px;
  padding-top: 40px;
  padding-bottom: 49px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;

  &:nth-child(2n) {
    margin-right: 0;
  }

  & h3 {
    margin: 0;
    padding-top: 13px;
    font-family: $font-robotoCondensed, "Calibri", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #00b2ff;
  }

  & p {
    margin: 0;
    padding-top: 16px;
  }

  &:hover {
    background-color: #00b2ff;
    border-color: #00b2ff;
    color: #ffffff;
    cursor: pointer;

    & h3 {
      color: #ffffff;
    }

    & svg {
      fill: #ffffff;
    }
  }
}

@media (max-width: $table-width) {
  .advantages__list {
    min-height: 622px;
    padding-bottom: 0;
  }

  .advantages__item {
    max-width: 47.891%;
    padding-top: 24px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 24px;
    min-height: 306px;

    &--tag {
      min-height: 232px;
    }

    & h3 {
      padding-top: 2px;
    }

    & p {
      padding-top: 10px;
    }

    &--detective {
      min-height: 232px;

      & p {
        padding-top: 16px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__list {
    display: block;
  }

  .advantages__item {
    max-width: 100%;
    min-width: 290px;
    margin-right: 0;
    margin-bottom: 20px;
    min-height: 310px;
    padding-left: 24px;

    &--detective {
      min-height: 232px;
    }

    &--tag {
      min-height: 232px;
      padding-bottom: 23px;
    }

    &--hired {
      padding-right: 10px;
    }

    & h3 {
      font-size: 20px;
      line-height: 32px;
      padding-top: 4px;
    }

    & p {
      padding-top: 8px;
    }
  }
}
