.footer-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
}

@media (max-width: $mobile-width) {
  .footer-contacts__list {
    display: none;
  }

  .footer-contacts__hidden {
    display: block;
  }

  .footer-contacts__open {
    display: block;
    background-image: url("../img/minus.svg");
    background-size: 16px 16px;
    background-position: 94.4% 28px;
    background-repeat: no-repeat;
  }
}
