.modal {
  width: 490px;
  background-color: #00b2ff;
  position: absolute;
  top: 50.4%;
  margin-top: -302.5px;
  left: 50%;
  margin-left: -245px;
  box-sizing: border-box;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 35px;
  z-index: 100;
}

.modal__close {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  font-size: 0;
  position: absolute;
  top: 20px;
  right: 20.44px;
  width: 16.56px;
  height: 16.56px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:hover {
    border: 1px solid #ffffff;
  }
}
