.page-header {
  width: 100%;
  min-height: 500px;
  background-color: #1B2D37;
  background-image:  url("../img/background-desktop@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 33px;
  padding-bottom: 274px;
  overflow-x: hidden;
}

.page-header__top {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 230px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.page-header__email {
  position: relative;
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 40px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;
    background-image: url("../img/email-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 2px;
  }
}

.page-header__phone {
  position: relative;
  margin-left: 87px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 34px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background-image: url("../img/phone-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.page-header__link {
  padding: 14px 27px;
  margin-left: 50px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header__btn {
  width: 407px;
  height: 55px;
  border-radius: 5px;
  background-color: #00B2FF;
  text-decoration: none;
  color: #ffffff;
  border: 0;
  margin-left: 93px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media(max-width: 1023px) {

  .page-header {
    padding-top: 20px;
    min-width: 750px;
    padding-bottom: 163px;
  }

  .page-header__email {
    font-size: 0;
    padding-left: 60px;

    &::before {
      content: "";
      width: 26.33px;
      height: 18.67px;
      top: -2px;
    }
  }

  .page-header__top {
    margin-bottom: 117px;
  }

  .page-header__phone {
    font-size: 0;
    margin: 0;
    padding-left: 24px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      top: -5px;
    }
  }

  .page-header__link {
    display: none;
  }

  .page-header__btn {
    width: 379px;
    margin-left: 45px;
  }
}
