.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & li:not(:last-child) {
    margin-right: 15.5px;
  }
}

.social-list__link {
  &:hover svg path{
    fill: #00B2FF;
  }
}
